.correct {
  box-sizing: border-box;
  border-color: rgb(6, 240, 15);
  border-style: solid;
  border-width: 3px;
}

.incorrect {
  border-color: rgb(255, 0, 0);
  border-style: solid;
  border-width: 3px;
}
